aula 0705/flows (4).json
[{"id":"63209f61.319a4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"a69a4481.198458","type":"telegram receiver","z":"63209f61.319a4","name":"","bot":"d3b1c2b1.f3352","saveDataDir":"","filterCommands":false,"x":90,"y":220,"wires":[["517ce42d.14f59c","31e3846a.d1423c"],["ea7159c3.c10db8"]]},{"id":"ad3ea734.642fd8","type":"telegram sender","z":"63209f61.319a4","name":"","bot":"d3b1c2b1.f3352","haserroroutput":false,"outputs":1,"x":990,"y":320,"wires":[[]]},{"id":"ea7159c3.c10db8","type":"function","z":"63209f61.319a4","name":"","func":"msg.payload.content = \"Acesso não autorizado\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":320,"wires":[["ad3ea734.642fd8"]]},{"id":"517ce42d.14f59c","type":"function","z":"63209f61.319a4","name":"","func":"msg.params = {\n    id: msg.payload.chatId  \n};\nmsg.payload = msg.payload.weblink\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":280,"y":220,"wires":[["b7fd3cc4.9e17b"]]},{"id":"f4fe569.74ba3a8","type":"function","z":"63209f61.319a4","name":"","func":"msg.payload={\n    chatId: msg.params.id,\n    type: 'voice',\n    content: msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1060,"y":220,"wires":[["ad3ea734.642fd8","62e302e6.53b03c"]]},{"id":"b7fd3cc4.9e17b","type":"watson-speech-to-text","z":"63209f61.319a4","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"CSpYuzCfG0sBQ3CW8o9Z6_QVUG0aPNAT6CCvFo0FernU","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":440,"y":220,"wires":[["cb2c5d4c.c6afd","d739bedf.fe2d8"]]},{"id":"cb2c5d4c.c6afd","type":"watson-translator","z":"63209f61.319a4","name":"","action":"translate","basemodel":"ar-en","domain":"general","srclang":"pt","destlang":"en","password":"","apikey":"rLVgC2FvHDPOPkn0YXXTg6eMh9ofy6VmA_HL-YhS93It","custom":"","domainhidden":"general","srclanghidden":"pt","destlanghidden":"en","basemodelhidden":"ar-en","customhidden":"","filetype":"forcedglossary","trainid":"","lgparams2":true,"service-endpoint":"","x":650,"y":220,"wires":[["30bcc1d5.6cf61e","3175b193.6fe91e"]]},{"id":"31e3846a.d1423c","type":"debug","z":"63209f61.319a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":230,"y":80,"wires":[]},{"id":"d739bedf.fe2d8","type":"debug","z":"63209f61.319a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":60,"wires":[]},{"id":"30bcc1d5.6cf61e","type":"debug","z":"63209f61.319a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":710,"y":80,"wires":[]},{"id":"62e302e6.53b03c","type":"debug","z":"63209f61.319a4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":950,"y":80,"wires":[]},{"id":"3175b193.6fe91e","type":"watson-text-to-speech","z":"63209f61.319a4","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_EmilyV3Voice","voicehidden":"","format":"audio/wav","password":"","apikey":"Q0cuT1UmkJM5QYCUYiGDi4uR7bQamCuegoOnZ_o4lwlx","payload-response":true,"service-endpoint":"","x":880,"y":220,"wires":[["f4fe569.74ba3a8"]]},{"id":"d3b1c2b1.f3352","type":"telegram bot","botname":"vendas_Enzo_TDSF_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]