aula 1604/flow de implantação do telegram.json
[{"id":"56f64781.635a98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a830b6de.c8c3f8","type":"telegram receiver","z":"56f64781.635a98","name":"","bot":"d3b1c2b1.f3352","saveDataDir":"","filterCommands":false,"x":110,"y":220,"wires":[["879b3f13.8840b","ab8efd50.4a334"],["bad0422f.2854e"]]},{"id":"879b3f13.8840b","type":"debug","z":"56f64781.635a98","name":"Entrada do telegram","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":340,"y":100,"wires":[]},{"id":"b5fc1.f8cec03f","type":"telegram sender","z":"56f64781.635a98","name":"","bot":"f89fff5.d5341","haserroroutput":false,"outputs":1,"x":910,"y":220,"wires":[[]]},{"id":"75a73aed.dbec24","type":"debug","z":"56f64781.635a98","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":690,"y":100,"wires":[]},{"id":"5f2a5a38.eae624","type":"watson-assistant-v2","z":"56f64781.635a98","name":"Vendas","service-endpoint":"","assistant_id":"ed225264-cd6f-452f-9dc0-d8235d0655f3","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":520,"y":220,"wires":[["75a73aed.dbec24","f0bad6c1.4a0e48"]]},{"id":"f0bad6c1.4a0e48","type":"change","z":"56f64781.635a98","name":"","rules":[{"t":"set","p":"payload.chatId","pt":"msg","to":"chatId","tot":"msg"},{"t":"set","p":"payload.type","pt":"msg","to":"message","tot":"str"},{"t":"set","p":"payload.content","pt":"msg","to":"payload.output.generic[0].text","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":700,"y":220,"wires":[["b5fc1.f8cec03f"]]},{"id":"ab8efd50.4a334","type":"change","z":"56f64781.635a98","name":"","rules":[{"t":"set","p":"params.session_id","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"chatId","pt":"msg","to":"payload.chatId","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":220,"wires":[["5f2a5a38.eae624"]]},{"id":"bad0422f.2854e","type":"function","z":"56f64781.635a98","name":"","func":"msg.payload.content = \"Você não tem permissão de acesso\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":380,"wires":[["b5fc1.f8cec03f"]]},{"id":"d3b1c2b1.f3352","type":"telegram bot","botname":"@vendas_Enzo_TDSF_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"f89fff5.d5341","type":"telegram bot","botname":"@vendas_Enzo_TDSF_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]