aula 0904/flows.json
[{"id":"56f64781.635a98","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"a6d01429.643a78","type":"http in","z":"56f64781.635a98","name":"Entrada","url":"/conversa","method":"get","upload":false,"swaggerDoc":"","x":240,"y":200,"wires":[["71284d35.02ccf4","5ac76b39.d28d94"]]},{"id":"71284d35.02ccf4","type":"function","z":"56f64781.635a98","name":"Proc Entrada WA","func":"msg.params ={\n    \"session_id \" : msg.payload.session_id !== 'undefined' ? msg.payload.session_id : \"\"\n};\nmsg.payload = msg.payload.mensagem;\nreturn msg;\n\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":220,"wires":[["660e38f2.df5258"]]},{"id":"660e38f2.df5258","type":"watson-assistant-v2","z":"56f64781.635a98","name":"Vendas WA","service-endpoint":"","assistant_id":"ed225264-cd6f-452f-9dc0-d8235d0655f3","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":430,"y":300,"wires":[["bda32303.ebf57","ee0da57e.ba69d8"]]},{"id":"bda32303.ebf57","type":"function","z":"56f64781.635a98","name":"Proc Saida WA","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":640,"y":300,"wires":[["eda8e1b9.4ea21"]]},{"id":"eda8e1b9.4ea21","type":"http response","z":"56f64781.635a98","name":"Saida","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":810,"y":300,"wires":[]},{"id":"5ac76b39.d28d94","type":"debug","z":"56f64781.635a98","name":"Entrada do http","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":490,"y":120,"wires":[]},{"id":"ee0da57e.ba69d8","type":"debug","z":"56f64781.635a98","name":"Saida do WA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":630,"y":400,"wires":[]}]