aula 2805/flow de conexao bot-banco.json
[{"id":"57f25b65.44ede4","type":"tab","label":"Flow 5","disabled":false,"info":""},{"id":"2a6dfc2d.941f54","type":"cloudant out","z":"57f25b65.44ede4","name":"","cloudant":"76cb413c.27167","database":"database_bot","service":"_ext_","payonly":true,"operation":"insert","x":640,"y":440,"wires":[]},{"id":"9c0ad6a.dc84a28","type":"telegram receiver","z":"57f25b65.44ede4","name":"","bot":"82949900.054e4","saveDataDir":"","filterCommands":false,"x":110,"y":200,"wires":[["8aa8093c.130be","eb311c9a.df6898"],["ebfc116e.7a9cc"]]},{"id":"8aa8093c.130be","type":"function","z":"57f25b65.44ede4","name":"ProcIN","func":"//Informacoes gerais\nmsg.params = {\n    session_id : msg.payload.chatId,\n    tipo : msg.payload.type,\n    rev: ''\n};\n\n//Conteudo da mensagem\nmsg.conteudo = {\n    content: msg.payload.content\n};\n\n//Requisicao ao Banco de Dados\nmsg.payload = {\n    \"_id\" : String(msg.payload.chatId)\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":200,"wires":[["db52a176.3910e"]]},{"id":"db52a176.3910e","type":"cloudant in","z":"57f25b65.44ede4","name":"","cloudant":"76cb413c.27167","database":"database_bot","service":"_ext_","search":"_id_","design":"bot_db","index":"bot_context","x":480,"y":200,"wires":[["32f3385f.f1903","8bc78e5f.ddfbf8"]]},{"id":"32f3385f.f1903","type":"switch","z":"57f25b65.44ede4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"null","vt":"jsonata"},{"t":"neq","v":"null","vt":"jsonata"}],"checkall":"true","repair":false,"outputs":2,"x":670,"y":200,"wires":[["ac90a7f8.2bd3c8"],["1d1ba150.e7d7ff"]]},{"id":"1d1ba150.e7d7ff","type":"function","z":"57f25b65.44ede4","name":"Com Registro","func":"msg.params.rev = msg.payload._rev;\nmsg.additional_context={}\n\nif (\"cep\" in msg.payload.context){\n    msg.additional_context[\"cep\"] = msg.payload.context.cep\n}\n\nif (\"telefone\" in msg.payload.context){\n    msg.additional_context['telefone'] =  msg.payload.context.telefone\n}\n\nif (\"email\" in msg.payload.context){\n    msg.additional_context['email'] =  msg.payload.context.email\n}\n\n\nmsg.payload = msg.conteudo.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":220,"wires":[["ec32ebe1.b28818","b0ef1583.092f18","e2a2696b.94e04"]]},{"id":"ac90a7f8.2bd3c8","type":"function","z":"57f25b65.44ede4","name":"Sem Registro","func":"msg.payload = msg.conteudo.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":120,"wires":[["7150071d.4cb81","b0ef1583.092f18"]]},{"id":"c6d1125a.c37a1","type":"function","z":"57f25b65.44ede4","name":"ProcIN DB","func":"let imax = msg.payload.output.generic.length;\nlet resposta=''\nfor (let i = 0; i < imax; i++){\n    resposta = resposta+'\\n'+msg.payload.output.generic[i].text; \n}\n\nmsg.payload2 = resposta;\n\nlet u_cont = msg.payload.context.skills['main skill'].user_defined\n\n//Primeira entrada no DB\nif (msg.params.rev == ''){\n    msg.payload = {\n        \"_id\": String(msg.params.session_id),\n        \"context\": u_cont\n    }\n//Demais entradas no DB\n}else{\n    msg.payload = {\n        \"_id\": String(msg.params.session_id),\n        \"context\": u_cont,\n        \"_rev\":String(msg.params.rev )\n    }\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":340,"wires":[["2a6dfc2d.941f54","fb447912.788a4","97edf20f.f1bb98"]]},{"id":"ff873ff.d288cc","type":"telegram sender","z":"57f25b65.44ede4","name":"","bot":"f145986d.0d25b","haserroroutput":false,"outputs":1,"x":850,"y":340,"wires":[[]]},{"id":"fb447912.788a4","type":"function","z":"57f25b65.44ede4","name":"ProcOUT","func":"msg.payload={\n    chatId: msg.params.session_id,\n    type: msg.params.tipo,\n    content : msg.payload2\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":340,"wires":[["ff873ff.d288cc","8d7437c3.d7e988"]]},{"id":"eb311c9a.df6898","type":"debug","z":"57f25b65.44ede4","name":"Entrada","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":280,"y":120,"wires":[]},{"id":"442552cb.68afc4","type":"debug","z":"57f25b65.44ede4","name":"Resposta WA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1220,"y":160,"wires":[]},{"id":"8bc78e5f.ddfbf8","type":"debug","z":"57f25b65.44ede4","name":"Retorno DB","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":570,"y":120,"wires":[]},{"id":"ec32ebe1.b28818","type":"debug","z":"57f25b65.44ede4","name":"Com registro","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1070,"y":300,"wires":[]},{"id":"7150071d.4cb81","type":"debug","z":"57f25b65.44ede4","name":"Sem registro","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":80,"wires":[]},{"id":"b0ef1583.092f18","type":"watson-assistant-v2","z":"57f25b65.44ede4","name":"Vendas WA","service-endpoint":"","assistant_id":"8e7878c6-d0d2-41c6-97ea-544c8fdf0170","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":1070,"y":220,"wires":[["442552cb.68afc4","c6d1125a.c37a1"]]},{"id":"ebfc116e.7a9cc","type":"function","z":"57f25b65.44ede4","name":"Acesso Negado","func":"msg.payload.content = \"Acesso negado\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":260,"wires":[["ff873ff.d288cc"]]},{"id":"8d7437c3.d7e988","type":"debug","z":"57f25b65.44ede4","name":"Saída","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":840,"y":440,"wires":[]},{"id":"97edf20f.f1bb98","type":"debug","z":"57f25b65.44ede4","name":"Mensagem","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload2","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":440,"wires":[]},{"id":"e2a2696b.94e04","type":"debug","z":"57f25b65.44ede4","name":"Contexto","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"additional_context","targetType":"msg","statusVal":"","statusType":"auto","x":1060,"y":340,"wires":[]},{"id":"76cb413c.27167","type":"cloudant","host":"https://76839436-580d-4faf-8add-0f8ccf639a43-bluemix.cloudantnosqldb.appdomain.cloud","name":"nodered-fiap-1tds-cloudant-1617496646088"},{"id":"82949900.054e4","type":"telegram bot","botname":"vendas_TDSA_manha_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"f145986d.0d25b","type":"telegram bot","botname":"vendas_TDSA_manha_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]