aula 2805/flow-cloudant.json
[{"id":"a5bf7210.0bb39","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"bcff3514.16bfe8","type":"cloudant out","z":"a5bf7210.0bb39","name":"","cloudant":"","database":"database_bot","service":"node-red-cgeak-2021--cloudant-1618577358304-17849","payonly":true,"operation":"insert","x":610,"y":180,"wires":[]},{"id":"6885c9d3.45d318","type":"inject","z":"a5bf7210.0bb39","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Qualquer coisa 12345","payloadType":"str","x":340,"y":180,"wires":[["bcff3514.16bfe8","46ff17da.142e88"]]},{"id":"46ff17da.142e88","type":"debug","z":"a5bf7210.0bb39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":520,"y":100,"wires":[]},{"id":"8f0a3f33.8f276","type":"inject","z":"a5bf7210.0bb39","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"_id\":\"544a0b5c5888ade75f9e158ac22f9406\"}","payloadType":"json","x":200,"y":340,"wires":[["e53000ea.17787"]]},{"id":"e53000ea.17787","type":"cloudant in","z":"a5bf7210.0bb39","name":"","cloudant":"","database":"database_bot","service":"node-red-cgeak-2021--cloudant-1618577358304-17849","search":"_id_","design":"","index":"","x":420,"y":340,"wires":[["51928433.baa82c"]]},{"id":"51928433.baa82c","type":"debug","z":"a5bf7210.0bb39","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":650,"y":340,"wires":[]}]