aula 2304/conexao de audio com WA.json
[{"id":"ff9caa6f.011f58","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"1e2c8acb.f25035","type":"microphone","z":"ff9caa6f.011f58","name":"","x":120,"y":220,"wires":[["3045988b.108be8","2bc6b964.78f466"]]},{"id":"2bc6b964.78f466","type":"watson-speech-to-text","z":"ff9caa6f.011f58","name":"STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"CSpYuzCfG0sBQ3CW8o9Z6_QVUG0aPNAT6CCvFo0FernU","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":390,"y":220,"wires":[["1b44485e.417dc8","af39bf7c.5b85f"]]},{"id":"1b44485e.417dc8","type":"debug","z":"ff9caa6f.011f58","name":"Saída do STT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":650,"y":160,"wires":[]},{"id":"3045988b.108be8","type":"debug","z":"ff9caa6f.011f58","name":"Entrada do STT","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":140,"wires":[]},{"id":"f3e8df4c.ac08","type":"http in","z":"ff9caa6f.011f58","name":"Entrada","url":"/conversa","method":"get","upload":false,"swaggerDoc":"","x":110,"y":400,"wires":[["78935cc0.6a2134","4aecfe10.dc724"]]},{"id":"78935cc0.6a2134","type":"function","z":"ff9caa6f.011f58","name":"Proc Entrada WA","func":"msg.params = {\n    \"session_id\" : msg.payload.session_id !== 'undefined' ? msg.payload.session_id : \"\"\n};\nmsg.payload = msg.payload.mensagem;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":310,"y":400,"wires":[["6149dbd5.02f124"]]},{"id":"6149dbd5.02f124","type":"watson-assistant-v2","z":"ff9caa6f.011f58","name":"Vendas WA","service-endpoint":"","assistant_id":"ed225264-cd6f-452f-9dc0-d8235d0655f3","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":330,"y":520,"wires":[["5e50108f.b6e61","13fc688c.6bbf67"]]},{"id":"5e50108f.b6e61","type":"function","z":"ff9caa6f.011f58","name":"Proc Saída WA","func":"msg.payload = msg.payload.output.generic[0].text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":540,"y":520,"wires":[["1caf6048.50b9a","40adbe3e.8df8"]]},{"id":"1caf6048.50b9a","type":"http response","z":"ff9caa6f.011f58","name":"Saída","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":730,"y":520,"wires":[]},{"id":"4aecfe10.dc724","type":"debug","z":"ff9caa6f.011f58","name":"Print Entrada","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":300,"wires":[]},{"id":"13fc688c.6bbf67","type":"debug","z":"ff9caa6f.011f58","name":"Print Saída WA","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":620,"wires":[]},{"id":"af39bf7c.5b85f","type":"function","z":"ff9caa6f.011f58","name":"Proc saida STT","func":"msg.params = {\n    \"session_id\" : msg.payload.session_id !== 'undefined' ? msg.payload.session_id : \"\"\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":260,"wires":[["6149dbd5.02f124"]]},{"id":"40adbe3e.8df8","type":"debug","z":"ff9caa6f.011f58","name":"Saida final","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":760,"y":420,"wires":[]}]