aula 2304/conexao de voz com telegram.json
[{"id":"8fea7e5c.2885","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"19e38086.3bbf5f","type":"telegram receiver","z":"8fea7e5c.2885","name":"","bot":"c865d37.72de63","saveDataDir":"","filterCommands":false,"x":110,"y":180,"wires":[["264539d6.e57656","c74db4d3.751c88"],[]]},{"id":"264539d6.e57656","type":"function","z":"8fea7e5c.2885","name":"Proc In so STT","func":"msg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":180,"wires":[["77e3ae70.f9c07","a2d21ab8.a071a8"]]},{"id":"c74db4d3.751c88","type":"debug","z":"8fea7e5c.2885","name":"entrada de audio","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":100,"wires":[]},{"id":"77e3ae70.f9c07","type":"watson-speech-to-text","z":"8fea7e5c.2885","name":"","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"CSpYuzCfG0sBQ3CW8o9Z6_QVUG0aPNAT6CCvFo0FernU","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":630,"y":180,"wires":[["eb27ef81.dfed1","331d7c2.d39b984"]]},{"id":"a2d21ab8.a071a8","type":"debug","z":"8fea7e5c.2885","name":"entrada do telegram","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":540,"y":100,"wires":[]},{"id":"eb27ef81.dfed1","type":"debug","z":"8fea7e5c.2885","name":"saida do telegram","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":100,"wires":[]},{"id":"331d7c2.d39b984","type":"function","z":"8fea7e5c.2885","name":"","func":"msg.payload = {\n    'chatId':'1746770567',\n    'content': msg.payload,\n    'type':'message'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":300,"wires":[["5451574e.780ae8"]]},{"id":"5451574e.780ae8","type":"telegram sender","z":"8fea7e5c.2885","name":"","bot":"d3b1c2b1.f3352","haserroroutput":false,"outputs":1,"x":610,"y":300,"wires":[[]]},{"id":"c865d37.72de63","type":"telegram bot","botname":"vendas_Enzo_TDSF_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"d3b1c2b1.f3352","type":"telegram bot","botname":"@vendas_Enzo_TDSF_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]