Checkpoint2/Enzo Bense Pagliacci/fluxo_integraçao.json
[{"id":"f97c02cd.9836b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"2ce8879e.170148","type":"telegram sender","z":"f97c02cd.9836b","name":"","bot":"c865d37.72de63","haserroroutput":false,"outputs":1,"x":1510,"y":160,"wires":[[]]},{"id":"6cd517fa.5e0ae8","type":"telegram receiver","z":"f97c02cd.9836b","name":"","bot":"c865d37.72de63","saveDataDir":"","filterCommands":false,"x":90,"y":240,"wires":[["be7d612.eec65a","2e3b577f.1a5c58"],["5a7f53c7.6c37fc"]]},{"id":"c4fe323c.980f5","type":"function","z":"f97c02cd.9836b","name":"","func":"msg.params = {\n    session_id: msg.payload.chatId,\n    tipo: msg.payload.type\n};\nmsg.payload = msg.payload.content;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":440,"y":120,"wires":[["4f2bd264.14530c","49b16740.459b98"]]},{"id":"5a7f53c7.6c37fc","type":"function","z":"f97c02cd.9836b","name":"","func":"msg.payload.content = \"acesso negado\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":580,"wires":[["2ce8879e.170148"]]},{"id":"627dca2d.a52204","type":"function","z":"f97c02cd.9836b","name":"","func":"msg.params = {\n    session_id : msg.payload.chatId,\n    tipo: msg.payload.type\n};\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":380,"y":340,"wires":[["14f7ffa6.58554"]]},{"id":"14f7ffa6.58554","type":"watson-speech-to-text","z":"f97c02cd.9836b","name":"STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"CSpYuzCfG0sBQ3CW8o9Z6_QVUG0aPNAT6CCvFo0FernU","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":550,"y":340,"wires":[["4f2bd264.14530c"]]},{"id":"446e6a66.845ae4","type":"function","z":"f97c02cd.9836b","name":"","func":"msg.payload = {\n    chatId: msg.params.session_id,\n    content: msg.payload,\n    type: msg.params.tipo\n    \n};\n\nmsg.payload2 = {\n    chatId: msg.params.session_id,\n    content: msg.payload,\n    type: msg.params.tipo\n    \n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1300,"y":180,"wires":[["2ce8879e.170148","ec0a09c1.ae8698"]]},{"id":"be7d612.eec65a","type":"switch","z":"f97c02cd.9836b","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"voice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":270,"y":240,"wires":[["c4fe323c.980f5"],["627dca2d.a52204"]]},{"id":"4f2bd264.14530c","type":"watson-assistant-v2","z":"f97c02cd.9836b","name":"","service-endpoint":"","assistant_id":"044d2ee1-995c-4c3b-bbe0-4b1dd2e59c2f","debug":false,"restart":false,"return_context":true,"alternate_intents":false,"multisession":true,"timeout":"","optout-learning":false,"persist-session-id":false,"x":690,"y":240,"wires":[["308b57ba.77b6a8","9da41b09.c629b8"]]},{"id":"8aeada08.03c2b8","type":"switch","z":"f97c02cd.9836b","name":"","property":"params.tipo","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"voice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1010,"y":240,"wires":[["f1cdb0ca.01c7d","446e6a66.845ae4"],["edcd264a.e33498"]]},{"id":"2e3b577f.1a5c58","type":"debug","z":"f97c02cd.9836b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":100,"wires":[]},{"id":"49b16740.459b98","type":"debug","z":"f97c02cd.9836b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":590,"y":60,"wires":[]},{"id":"308b57ba.77b6a8","type":"debug","z":"f97c02cd.9836b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":810,"y":80,"wires":[]},{"id":"ec0a09c1.ae8698","type":"debug","z":"f97c02cd.9836b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1160,"y":80,"wires":[]},{"id":"f1cdb0ca.01c7d","type":"debug","z":"f97c02cd.9836b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":980,"y":160,"wires":[]},{"id":"edcd264a.e33498","type":"watson-text-to-speech","z":"f97c02cd.9836b","name":"TTS","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaVoice","voicehidden":"","format":"audio/wav","password":"","apikey":"Q0cuT1UmkJM5QYCUYiGDi4uR7bQamCuegoOnZ_o4lwlx","payload-response":true,"service-endpoint":"","x":1150,"y":320,"wires":[["446e6a66.845ae4"]]},{"id":"9da41b09.c629b8","type":"function","z":"f97c02cd.9836b","name":"","func":"msg.payload = msg.payload.output.generic[0].text;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":860,"y":240,"wires":[["8aeada08.03c2b8"]]},{"id":"c865d37.72de63","type":"telegram bot","botname":"Man_de_ferro_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]