aula 3004/STT e TTS.json
[{"id":"f97c02cd.9836b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e8bd8ff4.b57bc","type":"watson-text-to-speech","z":"f97c02cd.9836b","name":"TTS","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"pt-BR_IsabelaV3Voice","format":"audio/wav","password":"","apikey":"Q0cuT1UmkJM5QYCUYiGDi4uR7bQamCuegoOnZ_o4lwlx","payload-response":true,"service-endpoint":"","x":610,"y":220,"wires":[["84e75298.22127","a628ec3a.3a2e5"]]},{"id":"f17a342.1b26ac8","type":"debug","z":"f97c02cd.9836b","name":"Saida de texto","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":80,"wires":[]},{"id":"84e75298.22127","type":"debug","z":"f97c02cd.9836b","name":"Saida de audio","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":100,"wires":[]},{"id":"2ce8879e.170148","type":"telegram sender","z":"f97c02cd.9836b","name":"","bot":"c865d37.72de63","haserroroutput":false,"outputs":1,"x":990,"y":280,"wires":[[]]},{"id":"a628ec3a.3a2e5","type":"function","z":"f97c02cd.9836b","name":"","func":"msg.payload = {\n    chatId: msg.params.id,\n    type: \"voice\",\n    content: msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":740,"y":220,"wires":[["3d225770.87d0a8","2ce8879e.170148"]]},{"id":"3d225770.87d0a8","type":"debug","z":"f97c02cd.9836b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1050,"y":140,"wires":[]},{"id":"6cd517fa.5e0ae8","type":"telegram receiver","z":"f97c02cd.9836b","name":"","bot":"c865d37.72de63","saveDataDir":"","filterCommands":false,"x":90,"y":240,"wires":[["f17a342.1b26ac8","be7d612.eec65a"],["5a7f53c7.6c37fc"]]},{"id":"c4fe323c.980f5","type":"function","z":"f97c02cd.9836b","name":"","func":"msg.params = {\n    id : msg.payload.chatId\n};\n\n\nmsg.payload = msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":220,"wires":[["e8bd8ff4.b57bc","5e91fe71.298e"]]},{"id":"5e91fe71.298e","type":"debug","z":"f97c02cd.9836b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":550,"y":80,"wires":[]},{"id":"5a7f53c7.6c37fc","type":"function","z":"f97c02cd.9836b","name":"","func":"msg.payload.content = \"acesso negado\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":240,"y":600,"wires":[["2ce8879e.170148"]]},{"id":"627dca2d.a52204","type":"function","z":"f97c02cd.9836b","name":"","func":"msg.params = {\n    id : msg.payload.chatId\n};\n\n\nmsg.payload = msg.payload.weblink;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":460,"y":340,"wires":[["14f7ffa6.58554","e491f7b6.37f688"]]},{"id":"14f7ffa6.58554","type":"watson-speech-to-text","z":"f97c02cd.9836b","name":"STT","alternatives":1,"speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"CSpYuzCfG0sBQ3CW8o9Z6_QVUG0aPNAT6CCvFo0FernU","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"","x":610,"y":340,"wires":[["446e6a66.845ae4","ad7e66e0.007d98"]]},{"id":"446e6a66.845ae4","type":"function","z":"f97c02cd.9836b","name":"","func":"msg.payload = {\n    chatId: msg.params.id,\n    type: \"message\",\n    content: msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":760,"y":340,"wires":[["2ce8879e.170148","c3601252.763e2"]]},{"id":"be7d612.eec65a","type":"switch","z":"f97c02cd.9836b","name":"","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"message","vt":"str"},{"t":"eq","v":"voice","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":290,"y":280,"wires":[["c4fe323c.980f5"],["627dca2d.a52204"]]},{"id":"e491f7b6.37f688","type":"debug","z":"f97c02cd.9836b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":460,"wires":[]},{"id":"ad7e66e0.007d98","type":"debug","z":"f97c02cd.9836b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":460,"wires":[]},{"id":"c3601252.763e2","type":"debug","z":"f97c02cd.9836b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1040,"y":460,"wires":[]},{"id":"c865d37.72de63","type":"telegram bot","botname":"vendas_Enzo_TDSF_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]