aula 3004/TTS.json
[{"id":"f97c02cd.9836b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e8bd8ff4.b57bc","type":"watson-text-to-speech","z":"f97c02cd.9836b","name":"TTS","lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"pt-BR_IsabelaV3Voice","voicehidden":"pt-BR_IsabelaV3Voice","format":"audio/wav","password":"","apikey":"Q0cuT1UmkJM5QYCUYiGDi4uR7bQamCuegoOnZ_o4lwlx","payload-response":true,"service-endpoint":"","x":510,"y":220,"wires":[["84e75298.22127","19fbf972.8441e7","a628ec3a.3a2e5"]]},{"id":"19fbf972.8441e7","type":"play audio","z":"f97c02cd.9836b","name":"","voice":"","x":770,"y":220,"wires":[]},{"id":"f17a342.1b26ac8","type":"debug","z":"f97c02cd.9836b","name":"Saida de texto","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":320,"y":80,"wires":[]},{"id":"84e75298.22127","type":"debug","z":"f97c02cd.9836b","name":"Saida de audio","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":790,"y":100,"wires":[]},{"id":"2ce8879e.170148","type":"telegram sender","z":"f97c02cd.9836b","name":"","bot":"c865d37.72de63","haserroroutput":false,"outputs":1,"x":930,"y":340,"wires":[[]]},{"id":"a628ec3a.3a2e5","type":"function","z":"f97c02cd.9836b","name":"","func":"msg.payload = {\n    chatId: msg.params.id,\n    type: \"voice\",\n    content: msg.payload\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":600,"y":340,"wires":[["3d225770.87d0a8","2ce8879e.170148"]]},{"id":"3d225770.87d0a8","type":"debug","z":"f97c02cd.9836b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":830,"y":440,"wires":[]},{"id":"6cd517fa.5e0ae8","type":"telegram receiver","z":"f97c02cd.9836b","name":"","bot":"c865d37.72de63","saveDataDir":"","filterCommands":false,"x":90,"y":220,"wires":[["f17a342.1b26ac8","c4fe323c.980f5"],["5a7f53c7.6c37fc"]]},{"id":"c4fe323c.980f5","type":"function","z":"f97c02cd.9836b","name":"","func":"msg.params = {\n    id : msg.payload.chatId\n};\n\n\nmsg.payload = msg.payload.content;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":220,"wires":[["e8bd8ff4.b57bc","5e91fe71.298e"]]},{"id":"5e91fe71.298e","type":"debug","z":"f97c02cd.9836b","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":400,"y":340,"wires":[]},{"id":"5a7f53c7.6c37fc","type":"function","z":"f97c02cd.9836b","name":"","func":"msg.payload.content = \"acesso negado\"\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":460,"wires":[["2ce8879e.170148"]]},{"id":"c865d37.72de63","type":"telegram bot","botname":"vendas_Enzo_TDSF_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false}]